<% include partials/header %>	

<h6><a href="/todos/new" style="margin-left: 20px;"> Add new item </a> </h6>
<div class="row" style="margin-left: 20px;">
	<% todos.forEach(function(sometodo){ %>
		<div class="peopleImage">
			<div class="peopleMargin overlay">

				<form action="/todos/<%= sometodo._id %>?_method=DELETE" method="POST">
				<button class> Delete </button>	
				</form>

				<a href="/todos/<%= sometodo._id %>"> Show </a>
				<p> <%= sometodo.name %>, <%= sometodo.text %></p>

			</div>
	<% }); %>
</div>