<% include partials/header %>

<div class="text-center">
	<h1 class="page-title text-center"> Register </h1>

	<form action="/register" method="POST">
		<input type="text" name="username" placeholder="Username"> <br><br>
		<input type="password" name="password" placeholder="Password"> <br><br>
		<input class="btn btn-default btn-xs" type="submit" value="Login">
	</form>
</div>
 